<!-- MAIN -->
<body style="overflow: hidden;">
  <main class = "index ">
    <header class="cabecera d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1" id="logo" style="font-size: 5em;">MiBiblioteca</h1>
            <h3 class="mb-5">
                <em>Tu Biblioteca Online</em>
            </h3>
            <a href="/signup" class="btn btn-dark">Registrate gratis!</a>
        </div>
    </header>
</main>  
</body>
