<body style="overflow: hidden;">
    <main class="index ">
  <div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="text-center">
                <div class="">
                    <h3>Registro</h3>
                </div>
                <div class="">
                    <form action="/signup" method="POST">
                    <div class="form-group">
                        <input type="text" name="correo" placeholder="Correo Electronico" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name="username" placeholder="username" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-dark btn-block">
                            Registrarse
                        </button>
                        
                        <p class="m-2">
                            ¿Ya tienes cuenta? <a href="/signin" class="text-success"> Inicia Sesión</a>
                        </p>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>  
</main>


</body>
